{
    "_comment": "You need to generate application-specific password to access GMail: My Account -> Sign-in & security -> Signing in to Google -> App passwords",
    "gmail": {
        "user": "user@gmail.com",
        "pass": "abcdefghijklmnop"
    },
    "salesforce": {
        "user": "user@example.com",
        "pass": "abcdef",
        "token": "1234abcd"
    }
}